.nav-spacer {
    display: block;
    height: 72px;
}

.spacer {
    display: block;
    height: 36px;
}

.img-fluid {
    width: 100%;
}

.popover{
    width: 100vw; 
}

.listProducts {
    height: 70vh;
    overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
    .listProducts {
        overflow: hidden;
        height: inherit;
    }
}