<% include partials/header.ejs %>

<h1>Some problem occured processing your request...</h1>
<p>Please try again later</p>
<p>You are now redirecting back to the site</p>

<script>
    setTimeout(function(){
        location.href = 'http://localhost/kontact%20services/NoScam/client';
    }, 3000);
</script>

<% include partials/footer.ejs %>